<!-- Модель ТО (Техническое обслуживание) -->
{% extends "silant_service/home.html" %} {% load static %}
<div></div>
{% block title %}Техническое обслуживание{% endblock %}
<div></div>
{% block content %}

<body>
  <h1>Список машин</h1>
  <table>
    <thead>
      <tr>
        <th>Зав. № машины</th>
        <th>Модель техники</th>
        <th>Модель двигателя</th>
        <th>Дата проведения ТО</th>
        <th>Дата заказ-наряда</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for machine in machines %}
      <!-- Добавьте цикл -->
      <tr>
        <td>{{ machine.serial_number }}</td>
        <td>{{ machine.equipment_model }}</td>
        <td>{{ machine.engine_model }}</td>
        <td>{{ maintenance.maintenance_date }}</td>
        <td>{{ maintenance.order_date }}</td>
        <td>
          <a href="{% url 'machine_detail' machine.pk %}">Просмотр</a> |
          <a href="{% url 'machine_update' machine.pk %}">Редактировать</a> |
          <a href="{% url 'machine_delete' machine.pk %}">Удалить</a>
          <a href="{% url 'maintenance_create' %}">Добавить ТО</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'maintenance_create' %}">Добавить новую машину</a></p>
  <p><a href="{% url 'home' %}">Начальная страница</a></p>
  <p><a href="{% url 'logout' %}">Выход пользователя</a></p>
</body>
{% endblock %}
